@font-face {
  font-family: 'retroGaming';
  src: url('RetroGaming.ttf');
}
:root {
  --border-color: rgb(85, 0, 0);
  --case-color: red;
  --case-first-shadow: rgb(162, 3, 3);
  --case-second-shadow: var(--border-color);

  --display-color: rgb(234, 234, 234);
  --display-border-color: rgb(31, 31, 31);
  --display-container-color: rgb(200, 200, 200);
  --display-container-first-shadow: rgb(102, 102, 102);
  --display-container-second-shadow: var(--display-border-color);

  --thin-border-width: 1.5px;
  --border-width: 2px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'retroGaming', cursive;
  user-select: none; 
  font-size: 8px;
}

p, p > span{
  font-size: 1em;
}

input{
  font-size: 1.2em;
}

h3, h3 > span{
  font-size: 1.2em !important;
}


.d-none{
  display: none !important;
}

.bold{
  font-weight: bold;
}

.normal{
  font-weight: normal;
}

.w-100{
  width:100% !important;
}

body {
  display: flex;
  justify-content: center;
}

/* Pokedex case */ 

.pokedex {
  background-color: var(--case-color);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: var(--border-width) solid var(--border-color);
  box-shadow: -4px 4px 0px 4px var(--case-first-shadow), -5px 5px 0px 5px var(--case-second-shadow);
}

/* Pokedex top */

.pokedex-top {
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
  z-index: 0;
}

.pokedex-top-col {
  height: 100%;
  position:absolute;
}

.pokedex-top-1 {
  border-radius: 20px 0px 200px 0px / 20px 0px 15px 0px;
  width:33.1%;
  left:-0.1%;
  z-index: 2;
  background-color: red;
}

.pokedex-top-2 {
  border-radius: 0px 0px 0px 200px / 0px 0px 0px 12px;
  height: 64%;
  left:33%;
  transform: skewY(150deg);
  width: 34%;
  border-left-style: none;
  z-index: 1;
}

.pokedex-top-3 {
  /* background-color: purple; */
  height: 29% !important;
  width: 33.2%;
  border-radius: 0px 5px 0px 0px;
  left:66.9%;
  z-index: 2;
  background-color: red;
}

.pokedex-top-1, .pokedex-top-2, .pokedex-top-3 {
  box-shadow: 0px 10px 0px var(--case-first-shadow), 0px 12px 0px var(--case-second-shadow);
}

/* Display */

.pokedex-display-container{
  margin: 0 auto;
  margin-top: 7.5%;

  width:90%;
  height: 55%;
  background-color: var(--display-container-color);

  border-radius: 5px;
  border: var(--border-width) solid var(--display-border-color);

  box-shadow: -2px 2px 0px 2px var(--display-container-first-shadow), -3px 3px 0px 3px var(--display-container-second-shadow);
}

.display-light{
  border: var(--thin-border-width) solid var(--border-color);
  border-radius: 100%;
  background-color: red;
}

/* Display Top */

.top-display{
  padding: .5%;
  height: 6%;
  width:100%;
}

#display-little-light-container{
  display: flex;
  justify-content: center;
  gap: 2.5%
}

.little-display-light {
  width: 4%;
  aspect-ratio: 1/1;
}

/* Display Middle */

.display{
  margin: 0 auto;
  width: 90%;
  height: 80%;
  background-color: var(--display-color);
  border: var(--border-width) solid var(--display-border-color);
  border-radius: 5px;
}

/* Display Bottom */

.bottom-display{
  width:100%;
  height: 12%;
  display: flex;
  align-items: center;
}

.bottom-display > .light-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:40%;
  height:100%;
}

.bottom-display > .air-flow-container{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 3%;
}

.bottom-display > .air-flow-container > .air-flow{
  width: 55%;
  margin-bottom: 3%;
  background-color: var(--display-border-color);
  border: 1px solid var(--display-border-color);
  border-radius: 50px;
}

.big-display-light {
  width: 19%;
  aspect-ratio: 1/1;
  height: min-content;
}

/* Form */

.pokedex-form{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.pokedex-form > input{
  width: 90%;
  padding: 2%;
  outline: none;
  border: var(--border-width) solid var(--display-border-color);
  box-shadow: -1px 1px 0px 1px var(--display-container-first-shadow), -2px 2px 0px 2px var(--display-container-second-shadow);
  border-radius: 5px;
}

/* Pokemon data */

#pokemon-id-name{
  width:100%;
  text-align: center;
  height: 13%;
  text-transform: capitalize;
}

#pokemon-sprite{
  width: 100%;
}

#data-container {
  display: flex;
  justify-content: center;
  height: 86%;
}
 
#left-container {
  width:45%;
  height: 100%;
  padding: 2px;
}

#right-container {
  width:53%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px;
}




/* Container */

 .container{
  margin-top: 2rem !important;
  min-width: 200px;
  width: 200px !important;
  height: 279px !important
} 

/* Top lights */

.blue-light{
  position: absolute;
  top: 10%;
  left: 3.2%;
  background-color: cyan;
  width: 17%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: var(--border-width) solid var(--border-color);
  z-index: 3;

}

.blue-light .reflection{
  width:55%;
  height:35%;
  border-radius: 100%;
  background-color: rgb(227, 253, 253);
  margin: 8% 30%;
}

.light{
  position:absolute;
  top: 10%;
  width: 5.7%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  z-index: 3;
}

.light .reflection{
  width:55%;
  height:35%;
  border-radius: 100%;
  background-color: white;
  margin: 15% 30%;
}

.red{
  left:21.5%;
  background-color: rgb(231, 5, 5);
  border: var(--border-width) solid var(--border-color);
}

.red .reflection{
  background-color: rgb(252, 174, 174) !important;
}

.yellow{
  left:29.6%;
  background-color: yellow;
  border: var(--border-width) solid var(--border-color);
}
.yellow .reflection{
  background-color: rgb(253, 253, 217) !important;
}

.green{
  left:37.5%;
  background-color: chartreuse;
  border: var(--border-width) solid var(--border-color);
}
.green .reflection{
  background-color: rgb(234, 252, 216) !important;
}


/* Types */

.type-normal {
  background-color: #a8a878;
}

.type-fire {
  background-color: #f08030;
}

.type-fighting {
  background-color: #c03028;
}

.type-water {
  background-color: #6890f0;
}

.type-flying{
  background-color: #a890f0;
}

.type-grass{
  background-color: #78c850;
}

.type-poison {
  background-color: #a040a0;
}

.type-electric {
  background-color: #f7cf2f;
}

.type-ground {
  background-color: #e0c068;
}

.type-psychic{
  background-color: #f85888;
}

.type-rock {
  background-color:  #b8a038;
}

.type-ice {
  background-color: #98d8d8;
}

.type-bug {
  background-color: #a8b820;
}

.type-dragon {
  background-color: #7038f8;
}

.type-ghost {
  background-color: #705898;
}

.type-dark {
  background-color: #705848;
}

.type-steel {
  background-color: #b8b8d0;
}

.type-fairy { 
  background-color: #ee99ac;
}

.type-unknown {
  background-color: #68a090;
}

#types-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2px
}

.type{
  color: white;
  width:fit-content;
  padding: 1px 2px;
  border-radius: 5px;
}

/* Stats */

.red-stat{
  color: red;
}

.orange-stat{
  color: orange;
}

.green-stat{
  color: green;
}

.stat{
  position: relative;
}

.stat span{
  position: absolute;
  left: 45%
}

@media(min-width:350px){
  *{
    font-size: 10.5px;
  }
  
  .container {
    margin-top: 2rem !important;
    width: 256px !important;
    height: 351px !important
  }

  .pokedex-top-1 {
    border-radius: 20px 0px 300px 0px / 20px 0px 20px 0px !important
  }
  
  .pokedex-top-2 {
    border-radius: 0px 0px 0px 300px / 0px 0px 0px 16px !important
  }

  :root { 
    --thin-border-width: 2px;
    --border-width: 3px;
  }

  .pokedex {
    box-shadow: -5px 5px 0px 5px var(--case-first-shadow), -6px 6px 0px 6px var(--case-second-shadow);
  }

  .pokedex-top-1, .pokedex-top-2, .pokedex-top-3 {
    box-shadow: 0px 12px 0px var(--case-first-shadow), 0px 14px 0px var(--case-second-shadow);
  }

  .pokedex-form > input{
    box-shadow: -2px 2px 0px 2px var(--display-container-first-shadow), -3px 3px 0px 3px var(--display-container-second-shadow);
  }

  .pokedex-display-container{
    box-shadow: -3px 3px 0px 3px var(--display-container-first-shadow), -4px 4px 0px 4px var(--display-container-second-shadow);
  }
  
}

@media(min-width:500px){
  *{
    font-size: 16px;
  }
  
  .container {
    margin-top: 2rem !important;
    width: 400px !important;
    height: 550px !important
  }

  .pokedex-top-1 {
    border-radius: 20px 0px 450px 0px / 20px 0px 20px 0px !important
  }
  
  .pokedex-top-2 {
    border-radius: 0px 0px 0px 450px / 0px 0px 0px 15px !important
  }

  :root { 
    --thin-border-width: 3px;
    --border-width: 4px !important;
  }
  
  .pokedex {
    box-shadow: -7px 7px 0px 7px var(--case-first-shadow), -9px 9px 0px 9px var(--case-second-shadow);
  }

  .pokedex-top-1, .pokedex-top-2, .pokedex-top-3 {
    box-shadow: 0px 17px 0px var(--case-first-shadow), 0px 20px 0px var(--case-second-shadow);
  }

  .pokedex-form > input{
    box-shadow: -3px 3px 0px 3px var(--display-container-first-shadow), -5px 5px 0px 5px var(--display-container-second-shadow);
  }

  .pokedex-display-container{
    box-shadow: -5px 5px 0px 5px var(--display-container-first-shadow), -7px 7px 0px 7px var(--display-container-second-shadow);
  } 
  
}