:root {
  --border-color: rgb(85, 0, 0);
  --case-color: red;
  --case-first-shadow: rgb(162, 3, 3);
  --case-second-shadow: var(--border-color);

  --display-color: rgb(234, 234, 234);
  --display-border-color: rgb(31, 31, 31);
  --display-container-color: rgb(200, 200, 200);
  --display-container-first-shadow: rgb(102, 102, 102);
  --display-container-second-shadow: var(--display-border-color);
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 2rem;
  width: 256px;
  height: 350px
}

.pokedex {
  background-color: var(--case-color);
  width: 100%;
  height: 100%;
  border-radius: 5px 0px 3px 5px;
  border: 2px solid var(--border-color);
  box-shadow: -4px 4px 0px 4px var(--case-first-shadow), -5px 5px 0px 5px var(--case-second-shadow);
}

.pokedex-top {
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
  z-index: 0;
}

.pokedex-top-col {
  height: 100%;
}

.pokedex-top-1 {
  border-radius: 0px 0px 200px 0px / 0px 0px 15px 0px;
  width:33%;
}

.pokedex-top-2 {
  border-radius: 0px 0px 0px 200px / 0px 0px 0px 12px;
  height: 64%;
  transform: skewY(150deg);
  width: 34%;
  border-left-style: none;
}

.pokedex-top-3 {
  /* background-color: purple; */
  height: 29% !important;
  width: 34%;
}

.pokedex-top-1, .pokedex-top-2, .pokedex-top-3 {
  box-shadow: 0px 10px 0px var(--case-first-shadow), 0px 12px 0px var(--case-second-shadow);
}

.blue-light{
  position: absolute;
  top: 7px;
  left: 7px;
  background-color: cyan;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: 2px solid var(--border-color);
}

.blue-light .reflection{
  width:55%;
  height:35%;
  border-radius: 100%;
  background-color: rgb(227, 253, 253);
  margin: 4px 14px;
}

.light{
  position:absolute;
  top: 7px;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.light .reflection{
  width:55%;
  height:35%;
  border-radius: 100%;
  background-color: white;
  margin: 2px 3px;
}

.red{
  left:55px;
  background-color: rgb(231, 5, 5);
  border: 2px solid var(--border-color);
}

.red .reflection{
  background-color: rgb(252, 174, 174) !important;
}

.yellow{
  left:75px;
  background-color: yellow;
  border: 2px solid var(--border-color);
}
.yellow .reflection{
  background-color: rgb(253, 253, 217) !important;
}

.green{
  left:95px;
  background-color: chartreuse;
  border: 2px solid var(--border-color);
}
.green .reflection{
  background-color: rgb(234, 252, 216) !important;
}

.pokedex-display-container{
  margin: 0 auto;
  margin-top: 7.5%;

  width:90%;
  height: 55%;
  background-color: var(--display-container-color);

  border-radius: .3rem;
  border: 2px solid var(--display-border-color);

  box-shadow: -2px 2px 0px 2px var(--display-container-first-shadow), -3px 3px 0px 3px var(--display-container-second-shadow);
}

.display-light{
  border: 1.5px solid var(--border-color);
  border-radius: 100%;
  background-color: red;
}

.little-display-light {
  width: .5rem;
  height: .5rem;
}

.big-display-light {
  width: 1.1rem;
  height: 1.1rem;
}

.top-display > div{
  display: flex;
  gap: .3rem;
  margin-top: .08rem;
}

.top-display{
  height: .7rem;
  width:100%;
  display: flex;
  justify-content: center;
}

.display{
  margin: 0 auto;
  width: 90%;
  height: 80%;
  background-color: var(--display-color);
  border: 2px solid var(--display-border-color);
  border-radius: .3rem;
}

.bottom-display{
  width:100%;
  height: 1.7rem;
  display: flex;
  align-items: center;
}

.bottom-display > .light-container{
  display: flex;
  justify-content: center;
  width:40%;
  height:1.15rem
}

.bottom-display > .air-flow-container{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height:1.15rem
}

.bottom-display > .air-flow-container > .air-flow{
  width: 3.5rem;
  margin-bottom: .18rem;
  background-color: var(--display-border-color);
  border: 1px solid var(--display-border-color);
  border-radius: 50px;
}